h1 {
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    border-bottom: 3px double gray;
}

#fwtitle {
	margin: 0;
	padding: 0;
}

#fwtitle div#toptitle {
	padding: 0;
	margin: 0;
	padding-left: 1em;
	margin-bottom: 0.5em;
	height: 100px;
	background-image: url(../images/banner.jpg);
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	border-bottom: 10px solid #D5D8E5;
}

#fwtitle div#toptitle .HR-HR{
	display: block;
	color: #D5D8E5;
	font-size: 300%;
	padding-top: 30px;
}

#fwtitle div#toptitle h1{
	font-size: 150%;
	font-family: Georgia, serif;
	margin-top: -2.2em;
	margin-left: 100px;
	color: #D5D8E5;
}
#fwtitle div#toptitle h2{
	font-size: 100%;
	margin-top: -0.5em;
	padding-left: 100px;
	border-bottom: none;
	color: #D5D8E5;
}
/*
#fwtitle div#toptitle h1, h2 {
  color: -moz-linear-gradient(180deg, #e4e4ef, #000);
  color: -webkit-gradient(linear,100% 50%,0 50%,from(#e4e4ef),to(#000));
  color: -webkit-linear-gradient(180deg, #e4e4ef, #000);
  color: -o-linear-gradient(180deg, #e4e4ef, #000);
}
*/

div#footer {
	color: #c0c0c0;
	margin-top: 8px;
	border-top: 10px solid #D5D8E5;
	font-size: small;
}
div#footerimg {
	height: 20px;
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg);        /* FF */
	-o-transform: rotate(180deg);          /* Opera */
	-ms-transform: rotate(180deg);         /* IE9 */
	transform: rotate(180deg);             /* W3C complaint browsers */
	background-image: url(../images/banner.jpg);
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
}
div#footer-text {
	float: left;
	padding-bottom: 8px;
}

div#footer a {
	color: #80a0b0;
}

